.form-heading-section {
  margin: 20px 0px 20px 5px;
}
#secondary-header > h2 {
  font-size: 27px;
  font-weight: bolder;
  display: inline;
  color: #c5c5c5;
  margin-right: 20px;
}
.heading-btn {
  border-radius: 1px;
  background-color: #2b2e32;
  box-shadow: none;
  border: 1px solid #33373a;
  color: #959596;
}
.heading-btn:hover {
  color: #8c8c8c;
}
.form {
  background-color: #323639;
  color: #c5c5c5;
  margin: 5px;
  padding: 10px;
}
.form-group, .form-check-label, .form-check, .inline-checkbox-label {
  color: #8c8c8c;
}
.form-control {
  background-color: #323639;
  border-radius: 2px;
  border: 1px solid #8c8c8c;
}
.form-heading {
  margin: 20px 0px 30px 18px;
  text-transform: uppercase;
  font-weight: bolder;
}
.form-description {
  color: #959596;
  margin-bottom: 10px;
}
.btn {
  font-weight: bolder;
  border-radius: 2px;
}
.btn-log-in {
  position: absolute;
  right: 30px;
  bottom: 15px;
}
.btn-form-group {
  position: relative;
}
.col-form-label-center {
  text-align: center;
}
.col-form-label-right {
  text-align: right;
  margin-top: 7px;
}
.form-actions > .heading-btn > .fa {
  color: #fabc3c;
  margin-right: 5px;
}
.form-control-plaintext {
  background-color: #323639;
  border: none;
}
.checkbox-inline {
  padding-top: 7px;
}
