#side-navbar {
  background-color: #31323a;
}
.accordion-container {
  position: relative;
}
.accordion-header {
  color: #9e9e9e;
  text-transform: uppercase;
  position: absolute;
  left: 35px;
  top: 10px;
}
.accordion-tag {
  text-transform: uppercase;
  position: absolute;
  left: 35px;
  top: 10px;
}
#accordion-icon{
  color: white;
}
.accordion-content {
  display: none;
  padding-left: 25px;
}
.accordion-content > a > li {
  color: #9e9e9e;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 15px;
}
.accordion-content > a > li:hover {
  color: white;
}
.accordion-content > a:hover {
  text-decoration: none;
}
.fa-angle-left, .fa-angle-down {
  position: absolute;
  right: 10px;
}
.accordion-toggle, .accordion-toggle:focus, .accordion-toggle:hover {
  color: #9e9e9e;
  text-decoration: none;
}
.accordion-link, .side-navbar-heading {
  padding: 10px;
}
.accordion-link:hover, .accordion-link:focus, .accordion-link:active, .open, .open:focus {
  color: white;
}
.accordion-link > .fa:not(.fa-angle-left):not(.fa-angle-down), .side-navbar-heading > .fa {
  color: white;
  font-size: 18px;
}
.side-navbar-actions {
  margin-right: 0px;
  margin-left: 0px;
}
.side-navbar-actions > a > .fa {
  color: #fabc3c;
  font-size: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 10px 0px;
  margin-top: 25px;
}
.side-navbar-actions > a > .fa:hover {
  color: #ffac01;
}
.side-navbar-actions > a > .fa:not(.fa-phone) {
  border-right: 1px solid #8c8c8c;
}
